<ion-header>
  <ion-navbar>
    <ion-title>
      Make it simple
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button [navPush]="appareilsPage">Appareils</button>
</ion-content>

<ion-footer padding>
    <p>footer</p>
</ion-footer>
