<ion-header>
        <ion-navbar>
            <ion-buttons start>
                <button ion-button icon-only (click)="onToggleMenu()">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Réglages</ion-title>
        </ion-navbar>
    </ion-header>

<ion-content padding>
    <button ion-button icon-start (click)="onToggleLights()">
        <ion-icon name="power"></ion-icon>
        Lumières
    </button>
</ion-content>

<ion-footer padding>

</ion-footer>
