<ion-header>
  <ion-navbar>
    <ion-title>Options</ion-title>
  </ion-navbar>
</ion-header>
      
      <ion-content padding>
        <p>Modifiez les options de l'application ici !</p>
      </ion-content>
      